{% extends "layout.html" %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}
{% block body %}
<form action="{{ url_for('del_category') }}" class="col-sm-6 form-horizontal" method="post" name="categories" style="float:left">
    {% if mycats %}   
    <h5>My Categories</h5>
    <ul class="list-group">
        {% for listvalue in mycats %}
            {% for key in listvalue %}
                {% if key == 'catname' %}
                    <label class="col-sm-offset-2 col-sm-8">
                    <li class="list-group-item">
                        <input type="checkbox" name="catids" value="{{ listvalue.catid }}">
                        <a href="{{ url_for('update_category', catid = listvalue.catid, catname = listvalue.catname)}}">
                            {{ listvalue.catname }}</a>
                        <a href="">{{ listvalue.catid }}</a>
                        <!--<input type="hidden" name="catid" value="{{ listvalue.catid }}">-->
                    </li>
                    </label>
                {% endif %}
            {% endfor %}
        {% endfor %}    
    </ul>
    <div class="col-sm-offset-7 col-sm-10">
        <button type="submit" class="btn btn-success">delete</button>
    </div>
    {% endif %}
</form>
<div class="panel panel-info col-sm-offset-3 col-sm-6" style="float:left">	
    <h5>Add New Shopping List</h5>
    <form action="{{ url_for('add_category') }}" class="form-horizontal" method="post">
        <div class="form-group" style="margin-top:10px;">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="text" class="form-control" name="catname" autocomplete="off" required/>
            </div>
        </div>
        <div class="col-sm-offset-7 col-sm-10">
            <button type="submit" name="add" class="btn btn-info">Add</button>
        </div>
    </form> 
{% endblock %}